body{
    max-height: 100vh;
}
.lettre{
    display: flex;
    letter-spacing: 10px;
    align-items: center;
    justify-content: center;
}
.affichage{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    font-size: 20px;
}
.affichage{
    padding: 20px;
}
.clavier{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    column-gap: 20px;
    row-gap: 10px;
}
.clavier button{
    padding: 10px;
    border-radius: 5px;
    background-color: aqua;
    font-size: 30px;
}
.win{
    color: green;
}
.lost{
    color: red;
}
.restart button{
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    display: none;
}
.tete,.corps,.mains,.pieds,.hazo{
    display: none;
}
.anime{
    animation: anime infinite;
    transition: 0.2;
}
@keyframes anime{
    0%{
        transform: translateX(-20%);
    }
    50%{
        transform: translateX(0%);
    }
    75%{
        transform: translateX(20%);
    }
    100%{
        transform: translateX(0%);
    }
}